.text_content {
	border: 3px black solid;
	background-color: rgba(240,240,240,0.8);
	padding: 20px;
	border-radius: 20px;
}

.email_phone {
	width: 100%;
}

.image_group {
	padding: 10px;
	padding-bottom: 30px;
	border-radius: 20px;
}